<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <header class="main-header">
        <h1>GameShop</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/auth/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{#if errors}}
        <div>
            {{#each errors}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        {{{body}}}
    </main>
    <footer>
        <p>All rights reserved &copy; Petar Dinev 2025</p>
    </footer>
</body>

</html>