html {
    font: 16px/1.5 Verdana, Arial, sans-serif;
    box-sizing: border-box;
}

body, button, textarea, input, lable {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1;
    margin-bottom: 1em;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.9rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1rem;
}
p, ul, ol, dl, blockquote {
    padding-bottom: 1.5rem;
}

